apiVersion: v1
kind: Secret
metadata:
  name: django-api-template-secrets
type: Opaque
data:
  DJANGO_SECRET_KEY: "base64 secret"
  SOMBRA_GITLAB_CLONE_CREDENTIALS: "base64 secret"
  SOMBRA_GITHUB_CLONE_CREDENTIALS: "base64 secret"
  DJANGO_OPENAI_APIKEY: "base64 secret"
